@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to left, #2bc0e4, #eaecc6); 
  color: #707070;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  min-width: 400px;
  border-radius: 50%;
}
.card{
    padding-top: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heading{
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}

.inputdata{
    background-color: white;
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0; 
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.location{
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin-top: 30px;
}
.temp{
    font-size: 30px;
    color: black;
}
.temp_minmax{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: black;
}